.cuisine-type-carousel {
    position: sticky;
    top: 0;
    height: 6.5vh;
    width: 82.5vw;
    max-width: 85vw;
    margin: 2vh 0 0 8.75vw;
    padding: 1vh 0 1vh 0;
    display: flex;
    align-items: center;
    gap: 2.5vw;
    overflow-x: auto;
    border-top: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    scrollbar-width: none;
    background-color: white;
}

.cuisine-type {
    flex: 0 0 auto;
    height: 92.5%;
    width: 4.5em;
    border: 1px green solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cuisine-type:hover {
    background-color: gray;
}

.cuisine-type-svg {
    height: 80%;
    width: 90%;
    border: 1px black solid;
    text-align: center;
}

.cuisine-type p {
    margin: 0;
}

html, body {
    overscroll-behavior-x: none;
}