.home-header-container form input[type=text] {
    width: 38.5vw;
    height: 3vh;
    padding-left: .75vw;
    font-size: .825em;
}

.searchbar-dropdown {
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.15%;
    right: 30.175%;
    width: 39.5vw;
    z-index: 10000;
    border: 1px solid grey
}

.searchbar-dropdown div {
    width: 100%;
    height: 5.25vh;
    text-align: left;
    background-color: white;
}

.searchbar-dropdown .focused {
    background-color: rgb(225, 225, 225);
}

.searchbar-dropdown .active {
    background: #4b4b4b;
    color: white
}

.searchbar-dropdown .active.focused {
    background: #757575;
}

.searchbar-dropdown div p {
    margin: 1em 0 0 1em;
}

.home-header-span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 8.5%;
}

.home-header-span a {
    cursor: pointer;
}

.home-header-span p {
    margin: 0 1vw 0 .45vw;
}

.home-header-span svg {
    width: 1.5em;
}

.home-header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh
}

@media screen and (max-width: 1350px) {
    .home-header-span {
        position:static;
        margin-top: 1.75vh;
    }

    .home-header-span p {
        margin-right: 2.5vw
    }
    
    .home-header-container {
        flex-direction: column;
        margin: 0;
    }

    .home-header-container form input[type=text] {
        width: 70vw;
        margin-top: 1.75vh;
        padding-left: 1vw;
    }

    .searchbar-dropdown {
        top: 10.5%;
        right: 14.25%;
        width: 70.5vw;
    }

    .cuisine-type-carousel {
        margin-top: 2vh;
    }
}