.home-header-container form input[type=text] {
    width: 35vw;
    height: 2.5vh;
}

span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 10%;
}

span a {
    cursor: pointer;
}

span p {
    margin: 0 1vw 0 .45vw;
}

span svg {
    width: 1.5em;
}

.home-header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.75vh 0 1vh;
}

@media screen and (max-width: 1350px) {
    span {
        position:static;
    }

    span p {
        margin-right: 2.5vw
    }
    
    .home-header-container {
        height: 7.5vh;
        padding: 1vh 0;
        flex-direction: column;
    }

    .home-header-container form input[type=text] {
        width: 70vw;
        margin-top: 2vh
    }
}