.searchbar {
    width: 38.5vw;
    height: 3.55vh;
    padding-left: .45em;
    border-radius: 3px;
    border: .1px solid grey;
    font-size: .825em;
    cursor: text;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.searchbar-filter-input {
    margin-left: .25em;
    min-width: 1em;
    display: inline-block;
}

.searchbar-filter {
    display: flex;
    background-color: #757575;
    padding: .35em .75em;
    color: white;
    flex-shrink: 0;
}

.searchbar-filter + .searchbar-filter {
    margin-left: .75em;
}

.searchbar p {
    margin: 0;
    height: fit-content;
}

.searchbar-dropdown {
    width: 38.75vw;
    top: 5.5%;
    right: 30.55%;
    position: absolute;
    z-index: 10000;
    border: .1px solid grey;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.searchbar-dropdown-submit {
    width: 15%;
    height: 65%;
    margin-left: 83.5%;
    background-color: rgb(116, 169, 248);
    color: white;
    border: 0px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.searchbar-dropdown-submit:hover {
    background-color: rgb(90, 156, 255);
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.searchbar-dropdown-filter {
    width: 100%;
    height: 3.85vh;
    text-align: left;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: .5px solid lightgray
}

.searchbar-dropdown-submit-container {
    width: 100%;
    height: 4.5vh;
    display: flex;
    align-items: center;
}

.searchbar-dropdown .focused {
    background-color: rgb(225, 225, 225);
}

.searchbar-dropdown .active {
    background: #4b4b4b;
    color: white
}

.searchbar-dropdown .active.focused {
    background: #757575;
}

.searchbar-dropdown div p {
    margin-left: 1em;
}

.home-header-span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 8.5%;
}

.home-header-span a {
    cursor: pointer;
}

.home-header-span p {
    margin: 0 1vw 0 .45vw;
}

.home-header-span svg {
    width: 1.5em;
}

.home-header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vh
}

@media screen and (max-width: 1350px) {
    .home-header-span {
        position:static;
        margin-top: 1.75vh;
    }

    .home-header-span p {
        margin-right: 2.5vw
    }
    
    .home-header-container {
        flex-direction: column;
        margin: 0;
    }

    .searchbar {
        width: 70vw;
        margin-top: 1.75vh;
        padding-left: 1vw;
    }

    .searchbar-dropdown {
        top: 10.5%;
        right: 14.75%;
        width: 70.5vw;
    }

    .cuisine-type-carousel {
        margin-top: 2vh;
    }
}