.pac-container{
    z-index: 10000 !important;
    position: absolute !important;
    display: block !important;
    visibility: visible !important;
    position: absolute !important;
}

form{
    position: relative;
    overflow: visible !important;
}